<script>
  var params = new URLSearchParams(window.location.search);
  var opts = {
    ordering: false,
    pageLength: 100,
    responsive: true,
    search: { search: params.get('q') }
  };
  $(document).ready( function() { $('#example').DataTable(opts); } );
</script>

<table id="example" class="display">
  <thead>
    <tr>
      <th data-priority="1">Title</th>
      <th>Date</th>
      <th>Category</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {%- assign base_url = page.url | relative_url -%}
    {%- assign date_format = site.minima.date_format | default: "%Y/%m/%d" -%}
    {%- for post in posts -%}
      <tr>
        <td>
          <a href="{{ post.url | relative_url }}">
            {% if post.status == "deprecated" %}<s>{% endif %}
            {% if post.status == "draft" %}<i>{% endif %}
            {{ post.title | escape }}
            {% if post.status == "draft" %}</i>{% endif %}
            {% if post.status == "deprecated" %}</s>{% endif %}
          </a>
        </td>
        <td><span class="home-meta">{{ post.date | date: date_format }}</span></td>
        <td>
          <span class="home-meta">
            {% assign cat_url = post.category | prepend: "/" | relative_url %}
            <a href="{{ cat_url }}">{{ post.category }}</a>
          </span>
        </td>
        <td>
          <span class="home-meta">
            {% assign sorted_tags = post.tags | sort %}
            {% for tag in sorted_tags %}
              <a href="{{ base_url }}?q={{ tag }}">#{{tag}}</a>
            {% endfor %}
          </span>
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>
