---
---

@import "{{ site.theme }}";

s { display: none; }

.home-link {
  list-style-type: none;
  margin: 2px;
  padding: 4px;
  font-size: large;
}
.home-meta {
  font-size: small;
  color: #cccccc;
}
.taglist {
  margin: 0;
  padding: 0;
}
.tagnav {
  list-style-type: none;
  display: inline-block;
}
.tagnav, .taglink {
  background-color: #f6f6f6;
  border-radius: 5px;
  margin: 2px;
  padding: 4px;
  text-decoration: none;
}
